body{
	color: #8b1e2e;
	font-size: 15px;
	text-align: center;
	font-family: 'Georgia';

}
#container{
	background-color: #8b1e2e;
	display: inline-block;
	/*width: 100px;
	height: 50px;*/
}
.sincronizar{
	width: 20px;
	height: 20px;

}
.random-input{
	/*margin:10px 0; */
}
.img-captcha{
	width: 80px;
	height: 50px;
	margin-top: 10px;
}
.interior{
	display: inline-block;
}
.icono{
	display: block;
}
.edit-value{
	/*margin-bottom: 20px;*/
	width: 100px;
	height: 50px;
}
